<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Exceptionless" version="1.5.2121" targetFramework="net45" />
  <package id="Exceptionless.Wpf" version="1.5.2121" targetFramework="net45" />
  <package id="Extended.Wpf.Toolkit" version="2.3" targetFramework="net45" />
  <package id="gong-wpf-dragdrop" version="0.1.4.3" targetFramework="net45" />
  <package id="Hardcodet.NotifyIcon.Wpf" version="1.0.5" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net45" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net45" />
  <package id="taglib" version="2.1.0.0" targetFramework="net45" />
  <package id="WpfAnimatedGif" version="1.4.12" targetFramework="net45" />
</packages>