<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Exceptionless" version="1.5.2121" targetFramework="net45" />
  <package id="Exceptionless.Wpf" version="1.5.2121" targetFramework="net45" />
  <package id="Extended.Wpf.Toolkit" version="2.3" targetFramework="net45" />
  <package id="Ookii.Dialogs" version="1.0" targetFramework="net45" />
  <package id="WindowsAPICodePack-Core" version="1.1.1" targetFramework="net45" />
  <package id="WindowsAPICodePack-Shell" version="1.1.1" targetFramework="net45" />
</packages>